[submodule "examples/BenchmarkDotNet/puteval-example-dotnet"]
	path = examples/BenchmarkDotNet/puteval-example-dotnet
	url = https://gitlab.mff.cuni.cz/hrdydo/puteval-example-dotnet
[submodule "examples/JavaJMH/puteval-example-java"]
	path = examples/JavaJMH/puteval-example-java
	url = https://gitlab.mff.cuni.cz/hrdydo/puteval-example-java
[submodule "implementation/pute/jackson-core"]
	path = implementation/pute/jackson-core
	url = https://github.com/FasterXML/jackson-core.git
